team.blockTeam
    .boxTeam__image
        img.boxTeam__image__relative(src="images/TeamBG.png")
        img.boxTeam__image__absolute(src="images/TitleFrame.png")
        h1 TEAM
    .CoreyMiller
        .CoreyMiller__image
            img.CoreyMiller_img(src="images/CoreyMiller.png")
            img.arrow(src="images/arrow.png")
        .CoreyMiller__text
            h3 COREY MILLER
            p.p__CoreyMiller Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero.
            p.p__CoreyMiller Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.
            img.icons__1(src="images/facebook.png")
            img.icons__1.icons__1__(src="images/twitter.png")
            img.icons__1.icons__1__(src="images/t.png")
            img.icons__1.icons__1__(src="images/in.png")
            img.icons__1.icons__1__(src="images/instagramm.png")
            img.icons__1.icons__1__(src="images/google.png")
    .KatVonD
        .KatVonD__image
            img.KatVonD_img(src="images/KatVanD.png")
            img.arrow(src="images/arrow.png")
        .KatVonD__text
            h3 KAT VON D
            p.p__KatVonD Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc risus eros, ultricies quis erat sit amet, elementum vulputate lorem. Sed at lacinia lectus, quis blandit libero.
            p.p__KatVonD Quisque ac malesuada lectus. Proin gravida feugiat commodo. Phasellus fermentum sem ut felis vehicula aliquet. Donec rhoncus, mi et euismod dictum, purus lorem vehicula justo, a iaculis mi nulla et risus.
            img.icons__1(src="images/facebook.png")
            img.icons__1.icons__1__(src="images/twitter.png")
            img.icons__1.icons__1__(src="images/t.png")
            img.icons__1.icons__1__(src="images/in.png")
            img.icons__1.icons__1__(src="images/instagramm.png")
            img.icons__1.icons__1__(src="images/google.png")
    .newsLetter
