twitter.blockTwitter
    img(src="images/Twitter__block.png")
    p RT @collis: Trade growth ideas with other founders. Look for ways to cross promote. Small startups today may be big friends later. (9/10)  2 days ago