doctype html
html
    head
        link(rel="stylesheet" href="css/style.css/style.css")
        title Ink Tattoo
    body
        include sections/header.pug
        include sections/about.pug
        include sections/testimonial.pug
        include sections/team.pug
        include sections/twitter.pug
        include sections/gallery.pug