.blockMaps {
  margin-left: 11%;
  display: block;
  width: 1500px;
  height: 800px;
}

.img__maps {
  position: relative;
}

.icon__maps {
  position: absolute;
  margin-left: -757px;
  margin-top: 330px;
}