.blockTeam {
  margin-left: 11%;
  display: inline-block;
  width: 1500px;
  height: 1000px;
}

.boxTeam__image {
  display: inline-block;
  width: 500px;
  height: 500px;

  &__relative {
    position: relative;
    display: inline-block;
  }

  &__absolute {
    position: absolute;
    margin-top: 200px;
    margin-left: -395px;
  }

  & h1 {
    position: absolute;
    margin-left: 200px;
    margin-top: -275px;
    font-size: 36px;
    font-family: "Times New Roman Bold", serif;
  }
}

.CoreyMiller {
  float: right;
  display: inline-block;
  width: 1000px;
  height: 500px;

  &_img {
    position: relative;
  }

  &__image {
    display: inline-block;
    width: 500px;
    height: 500px;
  }
  &__text {
    display: inline-block;
    float: right;
    width: 500px;
    height: 500px;
    background: #ccc8b6;
  }

  & p {
    margin: 0;
    padding-right: 52px;
    padding-left: 47px;
    font-family: "Open Sans Regular", serif;
    font-size: 14px;
  }

  & h3 {
    margin: 0;
    padding-left: 152px;
    padding-top: 123px;
    padding-bottom: 52px;
    font-family: "Times New Roman Bold", serif;
    font-size: 24px;
  }
}

.arrow {
  margin-left: -25px;
  margin-top: 122px;
  position: absolute;
}

.icons__1 {
  padding-top: 45px;
  padding-left: 60px;

  &__ {
    padding-left: 43px;
  }
}

.KatVonD {
  margin-top: -4px;
  float: left;
  vertical-align: top;
  display: inline-block;
  width: 1000px;
  height: 500px;

  &_img {
    position: relative;
  }

  &__image {
    display: inline-block;
    width: 500px;
    height: 500px;
  }

  &__text {
    display: inline-block;
    float: right;
    width: 500px;
    height: 500px;
    background: #ccc8b6;
  }

  & p {
    margin: 0;
    padding-right: 52px;
    padding-left: 47px;
    font-family: "Open Sans Regular", serif;
    font-size: 14px;
  }

  & h3 {
    margin: 0;
    padding-left: 172px;
    padding-top: 120px;
    padding-bottom: 48px;
    font-family: "Times New Roman Bold", serif;
    font-size: 24px;
  }
}

.newsLetter {
  margin-top: -4px;
  float: right;
  width: 500px;
  height: 500px;

  & h3 {
    padding-top: 155px;
    padding-left: 102px;
    margin: 0;
    font-family: "Times New Roman Bold", serif;
    font-size: 14px
  }

  & p {
    padding-left: 102px;
    margin: 0;
    font-family: "Times New Roman Regular", serif;
    font-size: 12px;
    padding-bottom: 40px;
    padding-right: 201px;
  }

  & input[type="text"] {
    margin-left: 102px;
    width: 276px;
    height: 36px;
    background: #f2efe5;
    border: 1px solid #000000;
    padding-left: 20px;
    font-family: "Times New Roman Bold", serif;
    font-size: 12px;
    color: #adaba4;
  }

  & input[type="button"] {
    border: 0;
    font-family: "Times New Roman Regular", serif;
    font-size: 12px;
    color: #e7e6e1;
    margin-top: 22px;
    margin-left: 102px;
    width: 301px;
    height: 40px;
    background: #9a977a;
  }
}